.btn {
    background-color: #7a818d; 
    color: white; 
    border: none; 
    padding: 0.5rem 1rem; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-left: 4px;
}

.btn:hover {
    background-color: #555e6d; 
    transform: scale(1.05);
}

.btn:focus,
.btn:active{
    background-color: #7a818d; 
    color: white; 
}
