.home-list {
    margin-top: 20px;
    margin-left: 15%;
    display: flex;
  }
  

.home-list-item {
    cursor: pointer;
    transition: transform 0.3s ease;
    
    margin: 5px 15px;
    background-color: rgb(206, 198, 198);
    font-size: 1.5rem;
    text-align: center;
}

.home-list-item:hover {
    transform: scale(1.1); 
    background-color: rgb(206, 198, 198);
    border-color: rgb(27, 28, 27);
}

