.item-details-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  
  .item-details-container ul {
    list-style-type: none;
    padding: 0;
  }

  
  .item-details-container li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .item-details-container strong {
    margin-right: 10px;
    font-size: 1.25rem;
  }
  
  
  .item-details-container button {
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    background-color: #26b466;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .item-details-container button:hover {
    background-color: #10a148;
    transform: scale(1.1);
  }
  
  .item-details-container input[type="text"],
  .item-details-container input[type="number"],
  .item-details-container select{
    font-size: 18px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }