.room-details-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .room-details-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .room-details-container ul {
    list-style-type: none;
    padding: 0;
  }

  .room-details-container-nested ul {
    list-style-type: upper-roman;
    padding: 0;
    margin-left: 30px;
  }
  
  .room-details-container li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .room-details-container strong {
    margin-right: 10px;
    font-size: 1.25rem;
  }
  
  .room-details-container input[type="text"],
  .room-details-container input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .room-details-container button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #26b466;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .room-details-container button:hover {
    background-color: #10a148;
    transform: scale(1.1);
  }
  