.staff-details-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.staff-details-container h2 {
    color: #333;
}

.staff-details-container strong {
    margin-right: 10px;
    font-size: 1.25rem;
  }

.animal-details-container ul {
    list-style-type: none;
    padding: 0;
}

.staff-details-container-nested ul {
    list-style-type: upper-roman;
    padding: 0;
    margin-left: 30px;
  }

.staff-details-container li {
    font-size: 18px;
    margin-bottom: 10px;
}

.staff-details-container input[type="text"],
.staff-details-container input[type="number"],
.staff-details-container select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.staff-details-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #26b466;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.staff-details-container button:hover {
    background-color: #10a148;
    transform: scale(1.1);
}
